
{% extends 'home_base.html' %}

{% block loggedbody %}
<div class="container">

    <div class="row">
			<div class="col col-xl-6 col-lg-12 col-md-12 m-auto" >
                        <h3>Enter new password</h3>
            <p>
            </p>
            <form method="post" class="form-control" style="background:#ffffff!important;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-md-2">Reset password</button>
            </form>
                    </div>
                </div>
</div>
{% endblock %}

