{% extends 'home_base.html' %}
{% block headTitle %}
    <title>Blog Page</title>
{% endblock %}

{% block loggedbody %}
{% load static %}

<div class="container mb60 mt50">
	<div class="row">
		<div class="col col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">


				<!-- Single Post -->

				<article class="hentry blog-post single-post single-post-v2">





					<h2 class="h1 post-title">{{ blog.title }}</h2>



					<div class="post-thumb">
						<img src="{{ MEDIA_URL }}{{blog.image.url}}" alt="post" />
					</div>


					<div class="post-content-wrap">

						<div class="post-content">


							<p>{{ blog.text }}
							</p>

						</div>
					</div>
                    <a href="{% url 'blogging:blog-category' blog.category %}" class="post-category bg-blue-light">{{ blog.category }}</a>
                    <div class="single-post-additional inline-items">
						<div class="post__author author vcard inline-items">
                            <img src="{{ MEDIA_URL }}{{blog.author.image.url}}" alt="author" class="avatar"/>

							<div class="author-date not-uppercase">
								<a class="h6 post__author-name fn" href="#">{{ blog.author }}</a>
								<div class="author_prof">
									Author
								</div>
							</div>
						</div>
						<div class="post-date-wrap inline-items">

							<div class="post-date">

								<a class="h6 date" href="#">
                                    <time class="published" datetime="2017-03-24T18:18">
												{{blog.created|timesince}}
								</time>
                                </a>
								<span>Date</span>
							</div>
						</div>

					</div>

                    {% if current_user.member == blog.author %}
                        <div class="control-block align-right">
                        <a class="btn btn-blue btn-md-2" href="{% url 'blogging:blog-update' blog.id %}">Update</a>
                        <form id="form1" method="POST" action="{% url 'blogging:blog-delete' blog.id %}">
                         {% csrf_token %}
                            <input class="btn btn-primary btn-md-2"  type="submit" value="Delete">
                        </form>
                    </div>
                    {% endif %}

				</article>

				<!-- ... end Single Post -->

			</div>


		</div>

		<div class="col col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12  align-center">
			<a href="{% url 'blogging:blogging' %}" class="btn btn-purple btn-md mb60 mt60">See other blogs...</a>
		</div>

		<div class="col col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12 col-12">





		</div>
	</div>
</div>
    <script>
    var form1 = document.getElementById('form1');
form1.onsubmit = function(e){
   var form = this;
   e.preventDefault();
   if(confirm("Are you sure you wish to delete?"))
       form.submit();
    }
    </script>

{% endblock %}
