{% load label_tag_attr %}
{% load widget_tweaks %}

<div class="row">

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  {% if field is form.password%}
      <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
  {% else %}
    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
  {% endif %}
    <div class="form-group label-floating">
    {% render_label field class="control-label" %}

    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="form-control is-invalid" placeholder="" %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control is-valid" placeholder="" %}
      {% endif %}
    {% else %}
      {% render_field field class="form-control" placeholder="" %}
    {% endif %}


  </div>
</div>
{% endfor %}
<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
    <a href="{% url 'accounts:view_profile' %}" class="btn btn-secondary btn-lg full-width">Restore all Attributes</a>
</div>
<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
    <button class="btn btn-primary btn-lg full-width" type="submit">Save all Changes</button>
</div>
</div>



