{% extends 'accounts/account_account_base.html' %}

{% load static %}


{% block accountbody %}
	<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Change Password</h6>
				</div>
				<div class="ui-block-content">


					<!-- Change Password Form -->

					<form action="" method="post">
						{% csrf_token %}
						{% include 'forms/bs4_change_passform.html' with form=form %}
					</form>

					<!-- ... end Change Password Form -->
				</div>
			</div>
	</div>

{% endblock %}
