{% extends 'home_base.html' %}
{% block headTitle %}
    <title>Home Page</title>
{% endblock %}

{% block loggedbody %}
{% load static %}


<div id="content" class="container" >


    <div class="page-description">
            <div class="icon">
                <svg class="olymp-star-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FAV PAGE"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-star-icon"></use></svg>
            </div>
				<span>Here you can edit your posts</span>
           <a href="{% url 'accounts:upload_photo' %}" class="icon btn-primary" style="float:right;cursor:pointer;background-color:#f57f17;" data-toggle="tooltip" data-placement="right"   data-original-title="Create Photo">
                <svg class="olymp-plus-icon left-menu-icon"  ><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-plus-icon"></use></svg>
            </a>

    </div>
    <div class="row">

         {% if photos %}
            {% for photo in photos reversed%}
        <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-sm-12 col-12">

            <!-- Post -->
            <div class="ui-block">
            <article class="hentry post has-post-thumbnail">

                <div class="post__author author vcard inline-items">
                    {% if photo.owner.member.image.url %}
                            <img
                                src="{{ MEDIA_URL }}{{photo.owner.member.image.url}}"
                                alt="avatar"
                                class="img-avatar img-thumbnail">
                        {% else %}
                            <img
                                src="{% static "instaapp/img/profile-picture-placeholder.png" %}"
                                alt="dp"
                                class="img-avatar img-thumbnail">
                        {% endif %}


                    <div class="author-date">
                        <a class="h6 post__author-name fn" >{{photo.owner.username}}</a>
                        <div class="post__date">
                            <time class="published" datetime="2017-03-24T18:18">
                                {{photo.created|timesince}}
                            </time>
                        </div>
                    </div>

                    <div class="control-block align-right">
                        <a href="{% url 'accounts:edit_with_pk' pk=photo.pk %}" class="btn btn-blue btn-sm" style="color:#ffffff;">Edit</a>
                        <button  id="btn{{ photo.pk }}" onclick="delete_photo('btn{{ photo.pk }}');" data-url="{% url 'accounts:delete_with_pk' pk=photo.pk %}" class="btn btn-primary btn-sm" style="color:#ffffff;">Delete</button>
                    </div>

                </div>

                <p>{{photo.caption}}</p>

                <div class="post-thumb">
                    <img src="{{ MEDIA_URL }}{{photo.image.url}}" alt="post" />

                </div>
                <div class="post-additional-info inline-items">

                    <a href="#" class="post-add-icon inline-items">
                        <svg class="olymp-heart-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-heart-icon"></use></svg>
                        <span>{{photo.like_set.all.count}} Likes </span>
                    </a>
							<div class="comments-shared">
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-speech-balloon-icon"></use></svg>
									<span>{{ photo.comment_set.all.count }} comments </span>
								</a>

							</div>


						</div>
{#            <div class="control-block-button post-control-button">#}
{##}
{#                <a href="#" class="btn btn-control">#}
{#                    <svg class="olymp-comments-post-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#                </a>#}
{##}
{#                <a href="#" class="btn btn-control">#}
{#                    <svg class="olymp-share-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-share-icon"></use></svg>#}
{#                </a>#}
{##}
{#            </div>#}

            </article>

            <!-- ... end Post -->

            <!-- Comments -->
            <div class="mCustomScrollbar" style="max-height:300px!important;" data-mcs-theme="dark">

                <ul class="comments-list">

                    {% for comment in photo.comment_set.all %}
                        <li class="comment-item">
                            <div class="post__author author vcard inline-items">
                                {% if comment.owner.image.url %}
                            <img
                                src="{{ MEDIA_URL }}{{comment.owner.image.url}}"
                                alt="avatar"
                                class="img-avatar img-thumbnail">
                        {% else %}
                            <img
                                src="{% static "instaapp/img/profile-picture-placeholder.png" %}"
                                alt="dp"
                                class="img-avatar img-thumbnail">
                        {% endif %}


                        <div class="author-date">
                            <a class="h6 post__author-name fn" >{{ comment.owner }}</a>
                            <div class="post__date">
                                <time class="published" datetime="2017-03-24T18:18">
                                {{comment.created|timesince}}
                                </time>
                            </div>
                        </div>

                        <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>
                            <ul class="more-dropdown">
                                        <li>
                                            <a style="cursor:pointer;" id="del_com{{ comment.pk }}" onclick="delete_comment('del_com{{ comment.pk }}');" data-url="{% url 'accounts:delete_comment_with_pk' comment.id %}">Delete Comment</a>
                                        </li>

                                    </ul>
                            </div>
                    </div>
                            <p>{{ comment.text }}</p>

                        </li>
                    {% endfor %}

                </ul>

{#            <a href="#" class="more-comments">View more comments <span>+</span></a>#}
            </div>


            </div>
        </div>


            {% endfor %}
        {% endif %}
    </div>


</div>
<script>
    function delete_photo(id){
        str = "#"+id;
      var url = $(str).attr("data-url");
      console.log("url", url);
        var r = confirm("Do you really want to delete this photo?");
        if (r == true) {
            txt = "You pressed OK!";
            window.location.assign(url);
        } else {
            txt = "You pressed Cancel!";
        }


    }

    function delete_comment(id) {
        str = "#"+id;
        var url = $(str).attr("data-url");
         console.log("url", url);
        var r = confirm("Do you really want to delete this comment?");
        if (r == true) {
            txt = "You pressed OK!";
            window.location.assign(url);
        } else {
            txt = "You pressed Cancel!";
        }
    }
</script>

        <script src="{% static "instaapp/js/photo-user-actions.js" %}"></script>

{% endblock %}