{% extends 'home_base.html' %}
{% block headTitle %}
    <title>Home Page</title>
{% endblock %}

{% block loggedbody %}
{% load static %}

<div id="content" class="container">
    <div class="row">
    <div class="col-md-3 col-xs-0"></div>
    <div class="col-md-6 col-xs-12" style="background-color: #ffffff;padding:20px; border-radius:5px;">
        <h3>Upload a Photo</h3>
        <form action="" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary btn-md-2" type="submit" style="float:right;">Upload</button>
        </form>
    </div>
    <div class="col-md-3 col-xs-0"></div>
    </div>
</div>


{% endblock %}